<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>



    <div class="main">

        <div class="cart-items">
            <% for (let cart of transformedCartItems) {%>
                <div class="cart-bar">
                    <div class="product-img">
                        <img src="/images/products/<%= cart.productImage %>" alt="">
                    </div>
                    <div class="product-data">
                        <h1>
                            <%= cart.productName%>
                        </h1>
                        <h2>
                            <%= cart.productPrice * cart.quantity %>
                        </h2>
                        <h2>
                            <%= cart.quantity %>
                        </h2>
                    </div>
                    <a href="/products/<%= cart.productId %>/delete"><i class="fa-solid fa-trash"></i></a>
                </div>
                <%}%>

                    <h3>Total Amount: <%= calculateTotalAmount(transformedCartItems) %>
                    </h3>

                    <a href="/products/confirm?amt=<%= calculateTotalAmount(transformedCartItems) %>">next</a>
                    
        </div>


    </div>




</body>

</html>